<!-- 


We are not too fussy about the layout or design of the generated HTML page, but the HTML itself should be well-formatted.

You may use any programming language, or environment, you like.

You should supply instructions on how to install and run your project.

The result of your test should be delivered on a repository on Github, Bitbucket or similar. 

-->

<html>

    <head>
    </head>
    
    <body>

        <h2>Description: {{ description }}</h2>
        <br>
        {%  for i in characters  %}
            <h2>{{ i }}</h2>
            <img src= "{{ characters[i] }}"></img>
        {%  endfor  %}
        <br>
        <br>
        {{  attribution  }}

    </body>

</html>