<!-- 
You should supply instructions on how to install and run your project.
-->
<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='../static/css/styles.css' type="text/css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
        </style>
    </head>
    <body>
        <h2>{{ description }}</h2>
        <br>
        <section id='characters'>
        {%  for i in characters  %}
            <article>
                <h2>{{ i }}</h2>
                <div class='bg-img' style='background:url({{ characters[i] }})'></div>
            </article>
        {%  endfor  %}
        </section>
        <br>
        <br>
        <h5>{{  attribution  }}</h5>
    </body>
</html>